@import url('https://fonts.googleapis.com/css?family=Lato');

/* Style Navbar */

.navbar-brand {
  font-family: "Lato", sans-serif;
  
}


.nav-link{
  font-family: "Lato", sans-serif;
  color: black;
}

.nav-link:hover {
  color: #cdc9c9;
}

/* Back to top button */

#button {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #cdc9c9;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.carousel-head1 {
    font-family: "Lato", sans-serif;
    font-size: large;
    color: white;

}

.carousel-para1 {
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
}

.carousel-head {
    font-family: "Lato", sans-serif;
    font-size: large;
    color: white;

}

.carousel-para {
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
}


   /* Style all map elements */
  
   #map {
        height: 500px;
        width: 100%;
        float: right;
        border: medium;
        display: table;
      }
      
      .table {
        font-size: 12px;
      }
      
     
       #listing {
        position: absolute;
        width: 400px;
        height: 470px;
        overflow: auto;
        right: 50px;
        cursor: pointer;
        overflow-x: hidden;
        z-index: 5;
      }
      
      #findhotels {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      
      #controls {
        width: 50%;

      }
      #autocomplete {
        width: 50%;
        float: right;
        
      }
      #country {
        width: 100%;
        height: 40px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
        float: right;
        z-index: 5;
        position: absolute;
        top: 10px;
        left: 25%;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}
      
      
      #rating {
        font-size: 13px;
        font-family: "Lato";
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
      
      .map-search {
        float: right;
      
      }
      
      
      
      /* Style all font awesome icons */
      
.fab {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fab:hover {
  color: #cdc9c9;
}


 /* Style widget */
 
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

  
 /* Style all cards */

.card-body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.card-body2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
}

/*paragraph style*/

#food {
  font-family: "Lato", sans-serif;
  padding-top: 20px;
}




 /* Style the footer */
 

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

/* Instagram */
.fa-instagram {
  color: white;
}

/* Github */
.fa-github {
  color: white;
}

/* Span text */
.fas {
  color:white;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
  color: grey;
}

.fo2 { 
  color: white;
  margin: 10px;
  font-family: "Lato", sans-serif;
  
}

.fo1 {
  background-image: url(Assets/images/sand.jpg);
  padding: 20px;
}