@import url('https://fonts.googleapis.com/css?family=Lato');

.carousel-head {
    font-family: "Lato", sans-serif;
    font-size: large;
    color: #000000;
    
}

.card-header {
    font-family: "Lato", sans-serif;
    font-size: large;
    
}

.card-body {
    font-family: "Lato", sans-serif;
}



#map-canvas {
    height: 400px;
}